.signup-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.signup-wrapper{
    margin: 7rem;
}
.signup-container .left-section img{
    height: auto;
    max-width: 100%;
}
.signup-container .left-section{
    padding: 5rem;
}
.signup-container .right-section{
    padding-top: 7rem;
}
.right-section .form-field input{
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #000000;
    border-radius: 0.4rem;
    width: 60%;
    font-size: 1rem;
}
.right-section .form-field {
    padding-top : 1.5rem;
}
.right-section .button-section button{
    border-radius: 3rem;
    border: 1px solid #5777d7;
    margin-top: 1.5rem;
    background: #060606;
    color: white;
    width: 10rem;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.right-section .button-section{
    padding-left: 10rem;
    padding-bottom: 1.5rem;
}
.right-section h2{
    padding-left: 10rem;
    padding-bottom: 2rem;
}
.right-section span{
    padding-left: 8rem;
}
.text-red-500{
    color: red;
}